"# Flutter" 
".dart_tool/" 
".pub/" 
"build/" 
"*.lock" 
"" 
"# Android" 
"android/" 
"" 
"# iOS" 
"ios/" 
"" 
"# macOS" 
"macos/" 
"" 
"# Windows" 
"windows/" 
"" 
"# Linux" 
"linux/" 
"" 
"# Web" 
"web/" 
"" 
"# Node" 
"node_modules/" 
"functions/" 
"package-lock.json" 
"package.json" 
"" 
"# IDE" 
".idea/" 
".vscode/" 
"*.iml" 
"*final" 
"*final.pub" 
